@model BusinessEmployeeCreateAndGetViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";

    string dec = ViewBag.Upshow;
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">List of Schedules</h5>
    </div>

    <div class="card-body">
        @if (dec == "0")
        {
            <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                @using (Html.BeginForm("Index", "Schedule", FormMethod.Post))
                {
                    <form>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            <div class="col-md-12">
                                @*   @Html.LabelFor(model => model.UserType, htmlAttributes: new { @class = "control-label required-star" })*@
                                <strong> Select Year :</strong><br />
                                @Html.DropDownListFor(model => model.employeeBusinessFilter.Year,ViewBag.Year as SelectList,  "Select Year",  new { @class = "form-control bs-select", @tabindex = "1", @data_live_search = "true", @id = "cboFromTaxPayerType" })
                                @Html.ValidationMessageFor(model => model.employeeBusinessFilter.Year, "", htmlAttributes: new { @class = "help-block" })

                                <strong>Select Months : </strong> <br />
                                @Html.DropDownListFor(model => model.employeeBusinessFilter.Months,ViewBag.Months as SelectList,  "Select Months",  new { @class = "form-control bs-select", @tabindex = "1", @data_live_search = "true", @id = "cboFromCompRin" })
                                @Html.ValidationMessageFor(model => model.employeeBusinessFilter.Months, "", htmlAttributes: new { @class = "help-block" })

                            </div>
                            <strong>Enter Comment : </strong> <br />

                            @Html.TextBoxFor(Model => Model.employeeBusinessFilter.Comment, new { @class = "form-control", @autocomplete = "off", @tabindex = "2", @placeholder = "Enter Password", @type = "password" })
                            @Html.ValidationMessageFor(Model => Model.employeeBusinessFilter.Comment , "", new { @class = "help-block" })
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn text-white" type="submit" style="padding-left: 2.5rem; padding-right: 2.5rem; border-radius: 30px; background-color: #4CAF50 !important;">Confirm</button>
                            </div>

                        </div>

                    </form>
                }
            </div>
        }
        @if (dec != "0")
        {
            @*  <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
        <th>Tax Payer Id</th>
        <th>Full Name</th>
        <th>Total Income</th>
        <th>Total Reliefs</th>
        <th>Edit</th>
        <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @if (Model != null)
        {
        @foreach (var item in Model.empList)
        {
        <tr>
        <td>@item.Employee.EmployeeId</td>
        <td>@item.Employee.FullName</td>
        <td>@item.TotalIncome</td>
        <td>@item.TotalRelief</td>
        <td>
        <button class="btn btn-primary mr-2">
        <i class="fa fa-pencil"></i>
        <a href="@Url.Action("GetByRIN", "BusinessEmployee",new {rin = item.EmployeeId})" class="link-success" style="text-decoration: none; color:#fff">Edit</a>
        </button>
        </td>
        <td>
        <button class="sidebar-dark-success">
        <a href="@Url.Action("GetByRIN", "BusinessEmployee",new {rin = item.EmployeeId})" class="link-success" style="text-decoration: none; color:#fff">Active/InActive</a>
        </button>
        </td>
        </tr>
        }

        }
        </tbody>
        <tfoot>
        <tr>
        <th>Tax Payer Id</th>
        <th>Full Name</th>
        <th>Total Income</th>
        <th>Total Reliefs</th>
        <th>Edit</th>
        <th>Action</th>
        </tr>
        </tfoot>
        </table>*@
        }
    </div>

</div>