@model List<SSP.PayeModelII.PayeInputFile>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">List of Employees</h5>
        <div class="float-right">
            <button type="button" class="btn btn-primary mr-2"><i class="fa fa-plus"></i> Bulk Upload</button>
            <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add Employee</button>
        </div>
    </div>
    <div class="card-body">

        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Tax Payer Id</th>
                    <th>Full Name</th>
                    <th>Total Income</th>
                    <th>Total Reliefs</th>
                    <th>Edit</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.EmployeeRin</td>
                            <td>@item.FullName</td>
                            <td>@item.TotalIncome</td>
                            <td>@item.TotalRelief</td>
                            <td>
                                <button class="btn btn-primary mr-2">
                                    <i class="fa fa-pencil"></i>
                                    <a href="@Url.Action("GetByRIN", "BusinessEmployee",new {rin = item.EmployeeRin})" class="link-success" style="text-decoration: none; color:#fff">Edit</a>
                                </button>
                            </td>
                            <td>
                                <button class="sidebar-dark-success">
                                    <a href="@Url.Action("GetByRIN", "BusinessEmployee",new {rin = item.EmployeeRin})" class="link-success" style="text-decoration: none; color:#fff">Active/InActive</a>
                                </button>
                            </td>
                        </tr>
                    }

                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Tax Payer Id</th>
                    <th>Full Name</th>
                    <th>Gross Income</th>
                    <th>Total Income</th>
                    <th>Total Reliefs</th>
                    <th>Edit</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary float-right">Forward Schedule</button>
    </div>
</div>

<script src="/NewTemplate/plugins/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#search-btn").click(function () {
            console.log("i got here");
            alert("i reach here");
            var searchTerm = $("#txtsearch").val();
            $.ajax({
                type: "POST",
                url: "/Index",
                data: {
                    searchTerm: searchTerm
                },
                success: function (response) {
                    console.log("ok");
                    // handle the response data
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("error");
                    // handle the error
                }
            });
        });
    });

</script>