@model BusinessEmployeeCreateAndGetViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";

    string dec = ViewBag.Upshow;
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">List of Employees</h5>

        <div class="float-right">
            <button type="button" class="btn btn-primary mr-2">
                <i class="fa fa-plus">
                    <a href="@Url.Action("Upload", "Employee")" class="link-success" style="text-decoration: none; color:#fff">Bulk Upload</a>
                </i> 
            </button>
            <button type="button" class="btn btn-primary">
                <i class="fa fa-plus">
                    <a href="@Url.Action("Add", "Employee")" class="link-success" style="text-decoration: none; color:#fff">Add Employee</a>
                </i> 
            </button>
        </div>
    </div>

    <div class="card-body">
        <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            @using (Html.BeginForm("Index", "Employee", FormMethod.Post))
            {
                <form>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="col-md-12">
                        @*   @Html.LabelFor(model => model.UserType, htmlAttributes: new { @class = "control-label required-star" })*@
                        <strong> Select Year :</strong><br />
                        @Html.DropDownListFor(model => model.employeeBusinessFilter.Year,ViewBag.Year as SelectList,  "Select Year",  new { @class = "form-control bs-select", @tabindex = "1", @data_live_search = "true", @id = "cboFromTaxPayerType" })
                        @Html.ValidationMessageFor(model => model.employeeBusinessFilter.Year, "", htmlAttributes: new { @class = "help-block" })

                        <strong>Business ID : </strong> <br />
                        @Html.DropDownListFor(model => model.employeeBusinessFilter.CompRin,ViewBag.CompRin as SelectList,  "Select Business Name",  new { @class = "form-control bs-select", @tabindex = "1", @data_live_search = "true", @id = "cboFromCompRin" })
                        @Html.ValidationMessageFor(model => model.employeeBusinessFilter.CompRin, "", htmlAttributes: new { @class = "help-block" })

                    </div>
                    <div class="form-group">
                        <strong>Business ID : </strong> <br />
                        @Html.DropDownListFor(model => model.employeeBusinessFilter.CompRin,ViewBag.CompRin as SelectList,  "Select Business Name",  new { @class = "form-control bs-select", @tabindex = "1", @data_live_search = "true", @id = "cboFromCompRin" })
                        @Html.ValidationMessageFor(model => model.employeeBusinessFilter.CompRin, "", htmlAttributes: new { @class = "help-block" })
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn text-white" type="submit" style="padding-left: 2.5rem; padding-right: 2.5rem; border-radius: 30px; background-color: #4CAF50 !important;">Confirm</button>
                        </div>

                    </div>

                </form>
            }
        </div>
        @if (dec != "0")
        {
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Tax Payer Id</th>
                        <th>Full Name</th>
                        <th>Total Income</th>
                        <th>Total Reliefs</th>
                        <th>Edit</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model.empList)
                        {
                            <tr>
                                <td>@item.Employee.EmployeeId</td>
                                <td>@item.Employee.FullName</td>
                                <td>@item.TotalIncome</td>
                                <td>@item.TotalRelief</td>
                                <td>
                                    <button class="btn btn-primary mr-2">
                                        <i class="fa fa-pencil"></i>
                                        <a href="@Url.Action("GetByRIN", "BusinessEmployee",new {rin = item.EmployeeId})" class="link-success" style="text-decoration: none; color:#fff">Edit</a>
                                    </button>
                                </td>
                                <td>
                                    <button class="sidebar-dark-success">
                                        <a href="@Url.Action("GetByRIN", "BusinessEmployee",new {rin = item.EmployeeId})" class="link-success" style="text-decoration: none; color:#fff">Active/InActive</a>
                                    </button>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Tax Payer Id</th>
                        <th>Full Name</th>
                        <th>Total Income</th>
                        <th>Total Reliefs</th>
                        <th>Edit</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        }
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary float-right">
        
            <i class="fa fa-arrow">
                <a href="@Url.Action("Index", "Schedule")" class="link-success" style="text-decoration: none; color:#fff">
                    Forward Schedule
        </a>
            </i>
        </button>
    </div>
</div>

<script src="/NewTemplate/plugins/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#search-btn").click(function () {
            console.log("i got here");
            alert("i reach here");
            var searchTerm = $("#txtsearch").val();
            $.ajax({
                type: "POST",
                url: "/Index",
                data: {
                    searchTerm: searchTerm
                },
                success: function (response) {
                    console.log("ok");
                    // handle the response data
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("error");
                    // handle the error
                }
            });
        });
    });

</script>