@model SSP.Models.CreationModel.SignIn
@*<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERAS</title>

    <style>


        .input {
            width: 35%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .button {
            background-color: #2c8968;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 15%;
        }

            .button:hover {
                opacity: 0.8;
            }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrapnew.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/simple-line-icons.css" />
    <link rel="stylesheet" type="text/css" href="/css/typeahead.css" /><!-- not present -->
    <link rel="stylesheet" type="text/css" href="/css/components.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/layout.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/plugins.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-select.min.css" />
    <link rel="shortcut icon" href="/images/favicon.jpg" />
</head>
<body>


    <div class="top-bar">
        <div class="container">
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand">
                    <img src="/images/Logo_New.png" alt="" style="height:174px;margin-top: -63px;" />
                    <h1 class="heading wow fadeInDown" style="margin-left: 335px;margin-top: 4px;color:#c00001;">Edo Revenue Administration System</h1>
                </a>
            </div>


        </div>
    </div>
    <div class="navbar navbar-default">
        <div class="container">
        </div>
    </div>




    <section class="banner">
        <div class="container">
            <h1 class="heading wow fadeInDown" style="color:#5a5345;">LOGIN DETAILS</h1>
            <hr />

            <div class="portlet-body ">
                <div class="row">
                     <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        @using (Html.BeginForm("SignIn", "Login", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.UserType, htmlAttributes: new { @class = "control-label required-star" })
                                @Html.DropDownListFor(model => model.UserType,ViewBag.TaxPayerTypeList as SelectList,  "Select Tax Payer Type",  new { @class = "form-control bs-select", @tabindex = "1", @data_live_search = "true", @id = "cboFromTaxPayerType" })
                                @Html.ValidationMessageFor(model => model.UserType, "", htmlAttributes: new { @class = "help-block" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(Model => Model.PhoneNumber_RIN, new { @class = "control-label" })

                                @Html.TextBoxFor(Model => Model.PhoneNumber_RIN, new { @class = "form-control", @autocomplete = "off", @tabindex = "1", @placeholder = "Enter PhoneNumber or RIN" })
                                @Html.ValidationMessageFor(Model => Model.PhoneNumber_RIN, "", new { @class = "help-block" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(Model => Model.Password, new { @class = "control-label" })
                                @Html.TextBoxFor(Model => Model.Password, new { @class = "form-control", @autocomplete = "off", @tabindex = "2", @placeholder = "Enter Password", @type = "password" })
                                @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "help-block" })
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-theme">Login</button>
                            </div>
                        }
                    </div>
                     <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </section>



    <footer>

        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    <div class="navbar-brand">
                        <img src="/images/Logo_New.png" style="height: 33px;width: 89px;" />
                    </div>
                </div>
                <div class="col-sm-7" id="copyright">

                    &copy; Copyright ERAS - Edo State Internal Revenue Service   <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>. All rights reserved
                </div>
                <div class="col-sm-4">


                    <a href="#">Data Protection</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#">Terms of Use</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#">Contact Us</a>


                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="/js/select2.min.js"></script>
    <script type="text/javascript" src="/js/jsCommon.js"></script>
    <script type="text/javascript" src="/js/jsCustomValidator.js"></script>



</body>
</html>*@
<!-- Navbar -->
@if (TempData["AlertMessage"] != null)
{
    if (TempData["AlertMessage"].ToString().Contains("Error"))
    {
        <div class="alert alert-danger">
            <strong>An Error Occur !</strong> @TempData["AlertMessage"]
        </div>
    }
    else
    {
        <div class="alert alert-success">
            <strong>Success !</strong> @TempData["AlertMessage"]
        </div>
    }
}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4CAF50;">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">
            <img src="/images/logo1.png" alt="Logo" class="img-fluid my-0 mx-0" loading="lazy" style="max-width: 280px; max-height: 45px; margin-top: -1px;">
        </a>
       

        <!-- Toggle button -->
        <button class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
            </ul>
            <!-- Left links -->

            <div class="d-flex align-items-center">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="@Url.Action("SignIn", "Login")">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">FAQ's</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">CONTACT US</a>
                    </li>
                    <li class="nav-item">
                        <i class="fa fa-sign-in text-white" aria-hidden="true"></i>
                        <a class="nav-link text-white" href="#">ADMIN</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<style>
    .navbar-nav li {
        display: flex;
        align-items: center;
        padding: 0 10px;
    }

        .navbar-nav li i {
            margin-right: 2px;
        }
</style>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">

            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="/images/img.jpg"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <div class="mx-auto text-center my-2">
                    <img src="assets/images/user.png" alt="" srcset="" width="75">
                    <p>Please login to access your portal</p>
                </div>
                @using (Html.BeginForm("SignIn", "Login", FormMethod.Post))
                {
                    <form>
                        <!-- Select input -->
                    @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @*   @Html.LabelFor(model => model.UserType, htmlAttributes: new { @class = "control-label required-star" })*@
                            <strong> Select UserType :</strong><br />
                            @Html.DropDownListFor(model => model.UserType,ViewBag.TaxPayerTypeList as SelectList,  "Select Tax Payer Type",  new { @class = "form-control bs-select", @tabindex = "1", @data_live_search = "true", @id = "cboFromTaxPayerType" })
                            @Html.ValidationMessageFor(model => model.UserType, "", htmlAttributes: new { @class = "help-block" })
                        </div>
                        <div class="form-group">
                            <strong> Enter PhoneNumber or RIN :</strong><br />
                            @Html.TextBoxFor(Model => Model.PhoneNumber_RIN, new { @class = "form-control", @autocomplete = "off", @tabindex = "1", @placeholder = "Enter PhoneNumber or RIN" })
                            @Html.ValidationMessageFor(Model => Model.PhoneNumber_RIN, "", new { @class = "help-block" })
                        </div>
                        <div class="form-group">

                            <strong> Enter Password :</strong><br />
                            @Html.TextBoxFor(Model => Model.Password, new { @class = "form-control", @autocomplete = "off", @tabindex = "2", @placeholder = "Enter Password", @type = "password" })
                            @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "help-block" })
                        </div>
                        @* <div class="form-group">
                    <button type="submit" class="btn btn-theme">Login</button>
                    </div>*@

                        @* <div class="form-outline mb-4">
                    <select class="form-select" aria-label="">
                    <option selected>Category</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    </select>
                    </div>

                    <!-- Password input -->
                    <div class="mb-3 password-field">
                    <input type="password" id="password" name="password" placeholder="Password" class="form-control">
                    <span class="password-toggle">
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    </span>
                    </div>*@

                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                <label class="form-check-label" for="form2Example3">
                                    Remember me
                                </label>
                            </div>
                            <a href="@Url.Action("ForgetPassword", "Login")" class="" style="color:#00834E; text-decoration: none;">Forgot password?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn text-white" type="submit" style="padding-left: 2.5rem; padding-right: 2.5rem; border-radius: 30px; background-color: #4CAF50 !important;">Login</button>
                            </div>
                            <p class="small fw-bold mt-2 pt-1 mb-0 text-center">
                                Don't have an account? <a href="@Url.Action("CreateAccount", "Login")" class="link-success" style="text-decoration: none;">Create Account</a>
                            </p>
                        </div>


                    </form>
                }
            </div>
        </div>
    </div>
</section>
<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .h-custom {
        height: calc(100% - 73px);
    }

    media (max-width: 450px) {
        .h-custom

    {
        height: 100%;
    }

    }

    .password-field {
        position: relative;
    }

    .password-toggle {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }

        .password-toggle i {
            font-size: 18px;
            color: #999;
        }

        .password-toggle.active i {
            color: #333;
        }

</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />